---
// layout import
import MainLayout from "../layouts/MainLayout.astro";

const pageTitle = "About Page";
---

<MainLayout pageTitle={pageTitle}>
  <div class="hero-section">
    <h1>Basic Site Template</h1>
    <h2>{pageTitle}</h2>
  </div>
</MainLayout>

<style>
  body {
    margin: 0;
    background: rgb(143, 143, 143);
    background: radial-gradient(
      circle,
      rgba(143, 143, 143, 1) 0%,
      rgba(82, 82, 82, 1) 35%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .hero-section {
    height: 90dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: larger;
  }
</style>
