---
import Navbar from "../components/Navbar.astro";
import favicon from "../assets/images/favicon.svg";

// TODO: get favicon working
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="..assets/images/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Navbar />
    <h1>Basic Site Template</h1>
  </body>
</html>

<style>
  body {
    margin: 0;
    height: 200dvh;
  }
</style>
