---
//////////////////////////////////////////////
// Change these before publishing:          //
// TODO: Add company name to copyright      //
//                                          //
//////////////////////////////////////////////
---

<footer>
  <div id="footer-link-container">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
  </div>
  <div class="copyright-container">
    <small>
      Copyright &copy; <span id="copyright"></span> | All rights reserved
    </small>
  </div>
</footer>

<script>
  // Auto update copyright year
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();
</script>

<style>
  footer {
    background-color: rgb(64, 64, 64);
    color: white;
    absolute: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
  }

  .footer-link-container {
    border: 1px solid red;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  /* li {
    float: left;
  } */

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
    font-size: larger;
  }

  li a:hover {
    background-color: #272727;
  }

  .copyright-container {
    text-align: center;
  }
</style>
