---
//////////////////////////////////////////////
// Change these before publishing:          //
// TODO: tempLogo should be company's logo  //
// TODO: Set links to site's actual pages   //
//                                          //
//////////////////////////////////////////////

// Things to do before calling it done:
// TODO: Make navbar disappear when scrolling down and then reappear when scrolling back up
// TODO: Use variables for colors and sizes

// Asset Imports
import tempLogo from "../assets/images/logoipsum-332.svg";

// https://www.w3schools.com/howto/howto_js_navbar_hide_scroll.asp
---

<nav>
  <a id="logo" href="/"><img src={tempLogo.src} alt="A temporary logo" /></a>
  <div id="link-container">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/">About</a></li>
      <li><a href="/">Contact</a></li>
    </ul>
  </div>
</nav>

<!-- Could probably style this a little better -->

<style>
  nav {
    display: flex;
    flex-direction: row;
    background-color: #616161;
    position: sticky;
    width: 100%;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    transition: top 0.3s;
  }

  #logo {
    margin: 10px;
  }

  #link-container {
    width: 100%;
    position: relative;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
    font-size: larger;
  }

  li a:hover {
    background-color: #272727;
  }
</style>
