---
//////////////////////////////////////////////
// Change these before publishing:          //
// TODO: tempLogo should be company's logo  //
// TODO: Set links to site's actual pages   //
//                                          //
//////////////////////////////////////////////

// Things to do before calling it done:
// TODO: Use variables for colors and sizes
// TODO: create a navigation data component so I don't have to do it manually

// Asset Imports
import tempLogo from "../assets/images/logoipsum-332.svg";
---

<nav>
  <a id="logo" href="/"><img src={tempLogo.src} alt="A temporary logo" /></a>
  <div id="link-container">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
  </div>
</nav>

<script>
  // show / hide navbar when scrolling down and up
  let lastScrollTop;
  const navbar = document.querySelector("nav");
  window.addEventListener("scroll", function () {
    let scrollTop = window.scrollY || document.documentElement.scrollTop;
    if (scrollTop > lastScrollTop) {
      navbar.style.top = "-80px";
    } else {
      navbar.style.top = "0";
    }
    lastScrollTop = scrollTop;
  });
</script>

<!-- Could probably style this a little better -->

<style>
  nav {
    display: flex;
    flex-direction: row;
    background-color: rgb(64, 64, 64);
    position: sticky;
    width: 100%;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    transition: top 0.3s;
  }

  #logo {
    margin: 10px;
  }

  #link-container {
    width: 100%;
    position: relative;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
    font-size: larger;
  }

  li a:hover {
    background-color: #272727;
  }
</style>
